# TYPE  DATABASE        USER            ADDRESS                 METHOD
local   all             postgres                                peer
local   tempmondb       tempmon                                 md5
host    tempmondb       tempmon         127.0.0.1/32            md5
