# TYPE  DATABASE        USER            ADDRESS                 METHOD
local   tempmondb       {{ db_user }}                           md5
host    tempmondb       {{ db_user }}    127.0.0.1/32            md5
